{% extends "layout.html" %}

{% block title %}Index{% endblock title %}

{% block body %}
    {% if company %}
        <h1>Company's Name: {{ company.name }} </h1>
        <h5>Company's Financial Year: {% if financial_year %}{{ financial_year.year }}
        </h5>{% else %}<p>You haven't picked a year yet. <a href="{% url 'company:year' %}">
        Click Here.</a></p>{% endif %}
        
        <div class="container-fluid"> 
            <h3>Global Information</h3>
            <p>Total Amount to Collect: $ {{ global_dict.amount_to_collect|floatformat:2 }}</p>
            <p>Total Amount to Pay: --TO DO--</p>
            <p>Total Net Working Capital : --TO DO--</p>
   
            <h3>Clients' Information</h3>  
            <p>Total Amount to Collect: $ {{ global_dict.amount_to_collect|floatformat:2 }}</p>
            <p>Highest Receipt: {{ client_dict.highest_receipt.recipient.name }} <a href="{{ client_dict.highest_receipt.get_absolute_url }}">
                {{ client_dict.highest_receipt }}</a> $ {{ client_dict.highest_receipt.total_amount }}
            </p>
            <p>Last Invoice: {{ client_dict.last_invoice.recipient.name }} <a href="{{ client_dict.last_invoice.get_absolute_url }}">
                {{ client_dict.last_invoice }}</a> $ {{ client_dict.last_invoice.total_lines_sum }}
            </p>
            <p>Last Receipt: {{ client_dict.last_receipt.recipient.name }} <a href="{{ client_dict.last_receipt.get_absolute_url }}">
                {{ client_dict.last_receipt }}</a> $ {{ client_dict.last_receipt.total_amount }}
            </p>
            <p>Oldest Pending Invoice to Collect: {{ client_dict.oldest_pending_invoice.recipient.name }} <a href="{{ client_dict.oldest_pending_invoice.get_absolute_url }}">
                {{ client_dict.oldest_pending_invoice }}</a> $ {{ client_dict.oldest_pending_invoice.total_lines_sum }}
            </p>
      
            <h3>Suppliers' Information</h3>
            <p>Global Amount to Pay: --TO DO--</p>
            <p>Highest Debt and Supplier: --TO DO--</p>
            <p>Last Supplier's Invoice: -- TO DO --</p>
            <p>Last Supplier's Receipt: -- TO DO --</p>
            <p>Oldest Pending Invoice to Pay and supplier: -- TO DO -- </p>
        </div>
        {% else %}
            <p>Please create your company first.</p>
        {% endif %}
        
    
{% endblock body %}