{% extends "layout.html" %}

{% block title %}Index{% endblock title %}

{% block body %}
    {% if company %}
        <h1>Company's name: --TO DO-- </h1>
        <p>Company's financial year: --TO DO--</p>
        <p>Current year Assets: --TO DO--</p>
        <p>Current year Liabilities: --TO DO--</p>
        <p>Current year Net Profit: --TO DO--</p>
        
        <h3>General Client's info</h3>
        <p>Global amount to collect: --TO DO--</p>
        <p>Highest receivable and client: --TO DO--</p>
        <p>Last Invoice: -- TO DO --</p>
        <p>Last Receipt: -- TO DO --</p>
        <p>Oldest pending invoice to collect and client: -- TO DO -- </p>
        
        <h3>General Suppliers info</h3>
        <p>Global amount to pay: --TO DO--</p>
        <p>Highest debt and supplier: --TO DO--</p>
        <p>Last Supplier's Invoice: -- TO DO --</p>
        <p>Last Supplier's Receipt: -- TO DO --</p>
        <p>Oldest pending invoice to pay and supplier: -- TO DO -- </p>
    {% else %}
        <p>Please create your company first.</p>
    {% endif %}
    
{% endblock body %}