{% extends "layout.html" %}
{% load static %}

{% block title %}Payment Conditions{% endblock title %}

{% block body %}

    <h2>Payment Conditions</h2>

    <div id="message-section"></div>
    
    <div class="container-fluid">
        <div class="row">
            <div class="col-6">
                <h3>Payment Terms</h3>
                <div data-section="term">
                    {% if not payment_terms %}
                        <form>
                            {% csrf_token %}
                            <button class="default-button">Add default</button>
                        </form>
                    {% endif %}
                        <button class="add-button">New payment term</button>
                        <div id="new-term" class="hidden">
                            <form>
                                {% csrf_token %}
                                {{ term_form.as_p }}
                                <button>Add</button>
                            </form>
                        </div>
                    {% if payment_terms%}
                        <button class="view-button">Show all terms</button>
                    {% endif %}
                </div>
                <h3>Payment Methods</h3>
                <div data-section="method">
                    {% if not payment_methods %}
                        <form>
                            {% csrf_token %}
                            <button class="default-button">Add default</button>
                        </form>
                    {% endif %}
                        <button class="add-button">New payment method</button>
                        <div id="new-method" class="hidden">
                            <form>
                                {% csrf_token %}
                                {{ method_form.as_p }}
                                <button>Add</button>
                            </form>
                        </div>
                    {% if payment_methods %}
                        <button class="view-button">Show all methods</button>
                    {% endif %}
                </div>
            </div>
            <div class="col-6" id="view-section">
                <h3 id="view-title"></h3>
                <ul id="view-list"></ul>
            </div>
        </div>
    </div>

{% endblock body %}
{% block script %}
    <script src="{% static 'js/payment_conditions.js' %}"></script>
{% endblock script %}