{% extends "layout.html" %}
{% load static %}

{% block title %}Points of Sell{% endblock title %}

{% block body %}

    <h2>Points of Sell</h2>
    <p>The Point of Sell (POS) is the first five numbers of your invoice or receipt. 
    Please, use the same as the one provided by the tax authorities.</p>
    <br>
    <ul class="nav nav-pills justify-content-center mb-4" id="main-tab-section" 
    role="tablist">
        <li class="nav-item me-4" role="presentation">
            <button class="nav-link" id="new-tab" data-bs-toggle="tab" 
            data-bs-target="#tab1" data-condition="method" data-empty="{{ payment_methods|yesno:'no,yes' }}"  
            type="button" role="tab" aria-controls="tab1" aria-selected="false"
            data-clicked="false">
            New POS</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="show-tab" data-bs-toggle="tab" 
            data-bs-target="#tab2" data-condition="term" data-empty="{{ payment_terms|yesno:'no,yes' }}"
            type="button" role="tab" aria-controls="tab2" aria-selected="false"
            data-clicked="false">
            Show POS</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="disable-tab" data-bs-toggle="tab" 
            data-bs-target="#tab2" data-condition="term" data-empty="{{ payment_terms|yesno:'no,yes' }}"
            type="button" role="tab" aria-controls="tab2" aria-selected="false"
            data-clicked="false">
            Disable POS</button>
        </li>
    </ul>
    <div id="message-section"></div>
    <div class="container-fluid d-flex justify-content-center">
        <div id="new-section" class="hidden">
            <form id="new-pos-form" method="post">
                <h6>Add a new POS</h6>
                {% csrf_token %}
                {{ form.as_p}}
                <button id="add-pos-button">Add</button>
            </form>
        </div>
        <div id="show-section" class="hidden">
            <h3 id="show-pos-title"></h3>
            <ul id="pos-list"></ul>
        </div>
        <div id="disable-section" class="hidden">
            {% if pos_list %}
                <div class="dropdown">
                    <button class="btn btn-primary dropdown-toggle" type="button" 
                    data-bs-toggle="dropdown" aria-expanded="false" id="dropdown-disable-menu">
                        Disable a Point of Sell
                    </button>
                    <ul class="dropdown-menu">
                        {% for pos in pos_list %}
                            <li><a href="#" class="dropdown-item pos">{{ pos }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            {% else %}
                <br>
                <h6 cl="no-pos">No Point of Sell has been created yet.</h6>
            {% endif %}
        </div>

{% endblock body %}

{% block script %}
    <script src="{% static 'js/points_of_sell.js' %}"></script>
    <script src="{% static 'js/crud.js' %}"></script>
    <script src="{% static 'js/utils.js' %}"></script>
{% endblock script %}