{% extends "layout.html" %}
{% load static %}

{% block title %}Delete Client{% endblock title %}

{% block body %}

    <h2>Delete Client</h2>
    <p id="delete-message"></p>
    <div id="client-list" data-client-section="delete">
        {% for client in clients %}
            <p><button class="specific-client" data-client-id="{{ client.id }}">
            {{ client.id }} | {{ client }}</button></p>
        {% empty %}
            <p>First you have to add a client.</p>
        {% endfor %}
    </div>
    <div id="client-details"></div>
        
{% endblock body %}

{% block script %}
    <script src="{% static 'js/client.js' %}"></script>
{% endblock script %}