{% extends "layout.html" %}
{% load static %}

{% block title %}Delete {{ person_type|capfirst }}{% endblock title %}

{% block body %}

    <h2 id="title" data-title="{{ person_type }}">Delete {{ person_type|capfirst }}</h2>
    <p id="delete-message"></p>
    <div class="row">
        <div class="col-6">
            <div id="person-list" data-person-section="delete">
                {% for person in person_list %}
                    <p><button class="specific-person" data-person-id="{{ person.id }}">
                    {{ person.id }} | {{ person }}</button></p>
                {% empty %}
                    <p>First you have to add a {{ person_type }}.</p>
                {% endfor %}
            </div>
        </div>
        <div class="col-6">
            <div id="person-details"></div>
        </div>
    </div>
        
{% endblock body %}

{% block script %}
    <script src="{% static 'js/person.js' %}"></script>
{% endblock script %}