{% extends "layout.html" %}
{% load static %}

{% block title %}Edit {{ person_type|capfirst }}{% endblock title %}

{% block body %}
    
    <h2 id="title" data-title="{{ person_type }}">Edit {{ person_type|capfirst }}</h2>
    <hr>
    <div class="row">
        <div class="col-6">
            {% if person_list %}
                <h6>Filter:</h6>
                <input type="text" id="filter" name="filter">
                <div id="person-list" data-person-section="edit">
                    <div class="row" id="headers">
                        <div class="col-2">Nº</div>
                        <div class="col-5">Tax Number</div>
                        <div class="col-5">Name</div>
                    </div>                  
                    {% for person in person_list %}
                        <div class="specific-person row" data-person-id="{{ person.id }}">
                            <div class="col-2">{{ person.id }}</div>
                            <div class="col-5">{{ person.tax_number }}</div>
                            <div class="col-5">{{ person.name }}</div>
                        </div>
                    {% endfor %}
                </div>
            {% else %}
                <p>First you have to add a {{ person_type }}.</p>
            {% endif %}
        </div>
        <div id="detail-section" class="col-6 hidden">
            <h6>{{ person_type|capfirst }} Details</h6>
            <hr>
            <div id="person-details"></div>
            <div id="person-edit-form" class="hidden">
                <p id="edit-message"></p>
                <form>
                    {{ form.as_p }}
                    <button>Confirm</button>
                </form>
            </div>
        </div>
    </div>

{% endblock body %}

{% block script %}
    <script src="{% static 'js/person.js' %}"></script>
    <script src="{% static 'js/crud.js' %}"></script>
    <script src="{% static 'js/utils.js' %}"></script>
{% endblock script %}