{% extends "erp/receivables_new.html" %}

{% block title %}Edit Receipt{% endblock title %}

{% block edit_title %}
    <h3 id="document-title" data-document="receipt" data-action="edit">
        Edit Receipt <span class="smaller-text">{{ receipt }}</span></h3>
    <p id="receipt-link" data-receipt="{{ receipt.pk }}">
        Go to <a href="{{ receipt.get_absolute_url }}">receipt detail</a>.
    </p>    
{% endblock edit_title %}

{% block edit_form_action %}{% url 'erp:receivables_edit' receipt.pk %}{% endblock edit_form_action %}

{% block edit_input_submit %}
    <input type="submit" value="Edit">
{% endblock edit_input_submit %}