{% extends "layout.html" %}
{% load static %}

{% block title %}New Invoice{% endblock title %} 

{% block link %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.10.0/css/bootstrap-datepicker.min.css">
{% endblock link %}

{% block body %}

    {% block edit_title %}
        <h2 id="document-title" data-document="invoice">Create a new invoice</h2>
        <p>ATENTION: The invoices created in this section aren't official. You still
        have to issue them on the tax authorities webpage.</p>
    {% endblock edit_title %}
    <br>
    <form id="invoice-form" action="{% block edit_form_action %}{%  url 'erp:sales_new' %}{% endblock edit_form_action %}" 
    method="post">
        {% csrf_token %}
        {{ invoice_form.as_p }}
        <br>
        <div id="line-form-container">
            {{ line_formset.management_form }}
            <div id="line-form" class="invoice-line">
                {% block edit_line_formset %}
                    {{ line_formset.0.as_p }}
                {% endblock edit_line_formset %}
            </div>
            <div id="line-form-template" class="hidden">
                {{ line_formset.empty_form.as_p }}
            </div>     
        </div>
        <button type="button" id="new-line">Add line</button>
        {% block edit_input_submit %}
            <input type="submit" value="Create">
        {% endblock edit_input_submit %}    
    </form>

{% endblock body %}
{% block script %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
    <script src="{% static 'js/calendar.js' %}"></script>
    <script src="{% static 'js/document_new.js' %}"></script>
    <script src="{% static 'js/invoice_new.js' %}"></script>
    <script src="{% static 'js/crud.js' %}"></script>
    <script src="{% static 'js/utils.js' %}"></script>
{% endblock script %}