{% extends "layout.html" %}
{% load static %}

{% block title %}
    Invoice {{ invoice.point_of_sell }}-{{ invoice.number }}
{% endblock title %}

{% block body %}

    <h2>Invoice N° {{ invoice.point_of_sell }}-{{ invoice.number }}</h2>
    <a id="edit-button" href="{% url 'erp:sales_edit' invoice.pk %}">Edit</a>
    <button id="delete-button" data-document="invoice" data-id="{{ invoice.id }}" 
    data-type="{{ invoice.type.type }}" data-pos="{{ invoice.point_of_sell }}" 
    data-number="{{ invoice.number }}">Delete</button>
    <br>
    <div class="container-fluid">
        <div class="row">
            <div class="col-5"> 
                <h3>{{ invoice.sender.name }}</h3>
                <p><b>Sender:</b> {{ invoice.sender.name }}</p>
                <p><b>Address:</b> {{ invoice.sender.address }}</p>  
            </div>
            <div class="col-2">
                <h1>{{ invoice.type.type }}</h1>
                <p>{{ invoice.type.code }}</p>
            </div>
            <div class="col-5">
                <h3>{{ invoice.type.type_description }}</h3>
                <p><b>Point of Sell:</b> {{ invoice.point_of_sell }} <b>Invoice Number:</b> 
                {{ invoice.number }}
                </p>
                <p><b>Issue Date:</b> {{ invoice.issue_date|date:"d/m/Y" }}</p>
                <p><b>Tax Number:</b> {{ invoice.sender.tax_number }}</p>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-5"> 
                <p><b>Tax Number:</b> {{ invoice.recipient.tax_number }}</p>
                <p><b>Payment Method:</b> {{ invoice.payment_method }}</p>
            </div>
            <div class="col-2"></div>
            <div class="col-5">
                <p><b>Name:</b> {{ invoice.recipient.name }}</p>
                <p><b>Address:</b> {{ invoice.recipient.address }}</p>
                <p><b>Payment Term:</b> {{ invoice.payment_term }}</p>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-4">
                <p><b>Description</b></p>
                {% for line in invoice.s_invoice_lines.all %}
                    <p> {{ line.description }} </p>
                {% endfor %}
            </div>
            <div class="col-2">
                <p><b>Not Taxable</b></p>
                {% for line in invoice.s_invoice_lines.all %}
                    <p>$ {{ line.not_taxable_amount }}</p>
                {% endfor %}
            </div>
            <div class="col-2">
                <p><b>Taxable</b></p>
                {% for line in invoice.s_invoice_lines.all %}
                    <p>$ {{ line.taxable_amount }}</p>
                {% endfor %}
            </div>
            <div class="col-2">
                <p><b>VAT</b></p>
                {% for line in invoice.s_invoice_lines.all %}
                    <p>$ {{ line.vat_amount }}</p>
                {% endfor %}
            </div>
            <div class="col-2">
                <p><b>Subtotal</b></p>
                {% for line in invoice.s_invoice_lines.all %}
                    <p>$ {{ line.total_amount }}</p>
                {% endfor %}
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-8"></div>
            <div class="col-2">
                <p><b>TOTAL</b></p>
            </div>
            <div class="col-2">
                <p>$ {{ invoice.total_lines_sum }}</p>
            </div>
        </div>
    </div>

{% endblock body %}

{% block script %}
    <script src="{% static 'js/document_detail.js' %}"></script>
    <script src="{% static 'js/document_delete.js' %}"></script>
    <script src="{% static 'js/crud.js' %}"></script>
{% endblock script %}