{% extends "erp/document_list.html" %}
{% load static %}



{% block headers %}
    <th scope="col" data-col="date" data-reverse="false">Date</th>
    <th scope="col" data-col="type" data-reverse="false">Type</th>
    <th scope="col" data-col="pos" data-reverse="false">Point of sell</th>
    <th scope="col" data-col="number" data-reverse="false">Number</th>
    <th scope="col" data-col="client-tax" data-reverse="false">Client Tax N°</th>
    <th scope="col" data-col="client-name" data-reverse="false">Client Name</th>
    <th scope="col" data-col="pay-method" data-reverse="false">Payment Method</th>
    <th scope="col" data-col="pay-term" data-reverse="false">Payment Term</th>
    <th scope="col" data-col="total" data-reverse="false">Total</th>
{% endblock headers %}

{% block rows %}  
    {% for invoice in invoice_list %}
        <tr class="invoice">
            <td class="idate">{{ invoice.issue_date|date:"d/m/Y" }}</td>
            <td class="itype">{{ invoice.type }}</td>
            <td class="ipos">{{ invoice.point_of_sell }}</td>
            <td class="inumber">{{ invoice.number }}</td>
            <td class="ctax">{{ invoice.recipient.tax_number }}</td>
            <td class="cname">{{ invoice.recipient.name }}</td>
            <td class="pmethod">{{ invoice.payment_method }}</td>
            <td class="pterm">{{ invoice.payment_term }}</td>
            <td class="itotal">$ {{ invoice.total_lines_sum }}</td>
        </tr>
    {% empty %}
        <tr>
            <p>There isn't any invoice in this period of time. Try adding 
            <a href="{% url 'erp:sales_new' %}">new invoices</a> or changing 
            the dates in search.
            </p>
        </tr>
    {% endfor %}
{% endblock rows %}
