{% extends "layout.html" %}
{% load static %}

{% block title %}New Sale{% endblock title %} 

{% block body %}

    <h2>Create a new invoice</h2>
    <p>ATENTION: The invoices created in this section aren't official. You still
    have to issue them on the tax authorities webpage. 
    </p>
    <br>
    <form id="invoice-form" action="#" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Create">
    </form>

{% endblock body %}
{% block script %}
    <script src="{% static 'js/new_invoice.js' %}"></script>
{% endblock script %}