{% extends "layout.html" %}

{% block title %}Suppliers{% endblock title %}

{% block body %}

    <h2>Suppliers Overview</h2>
    {% if financial_year %}
        <p>Accounts receivable {{ financial_year.year }}: --To Do--</p>
    {% else %}
        <p>You haven't picked a financial year yet.<a href="{% url 'company:year' %}">
        Click Here.</a></p>
    {% endif %}
    {% if suppliers %}
        <p>Last suppliers: <ul>{% for client in clients %}<li>{{ client }}</li>{% endfor %}</ul>--Finish sort--</p>
        <p>Highest debts: <ul>{% for client in clients %}<li>{{ client }}</li>{% endfor %}</ul>--Fix and finish sort--</p>
        <p>Biggest amount suppliers: <ul>{% for client in clients %}<li>{{ client }}</li>{% endfor %}</ul>--Fix and finish sort--</p>
        <p>Most frequent suppliers: <ul>{% for client in clients %}<li>{{ client }}</li>{% endfor %}</ul>--Fix and finish sort--</p>
        <p>Last invoices: --TO DO--</p>
        <p>Last receipts: --TO DO--</p>
    {% else %}
        <p>You haven't added any supplier yet.</p>
    {% endif %}

{% endblock body %}